* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./UISystem.scss";

body {
  position: relative;
}
.home {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  @include hideScrollbar;

  article {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;

    img {
      width: 550px;
      filter: drop-shadow($s $s $h  rgba(black,0.2));
    }

    p {
      position: absolute;
      right: $h;
      top: $xh;
      writing-mode: vertical-rl;
      display: inline-flex;
      column-gap: $h;
      font: {
        size: $xh;
        family: "BebasNeue Regular";
      }
      text: {
        transform: capitalize;
      }

      &:after {
        // content: "*";
      }
      span {
        border-top: 2px solid;
        padding-top:$h;
        writing-mode: vertical-rl;
        font: {
          family: "MPLUS1p Regular";
          size: $xxl;
        }
        filter: hue-rotate(45deg);

      }
    }
  }
}

h1 {
  display: inline-flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 50%;
  left: $h;
  font: {
    size: $xh;
    family: "MPLUS1p Black";
  }
  writing-mode: vertical-rl;
  span {
    margin: {
      top: $xh;
    }
    font: {
      size: $xxl;
    }
    border-left: 2px solid;
  }
}

h2{
    position: absolute;
    bottom: $h;
    right:$xh;
    font: {
        size: $l;
        family: "BebasNeue Regular";
      }
      a{
        color: inherit;
        text-decoration: none;
      }
}


@import './Mobile.scss'